<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.artamonov.millionplanets">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".modules.ModulesListActivity"
            android:parentActivityName=".PlanetActivity">

        </activity>
        <activity
            android:name=".modules.ModulesInfoActivity"
            android:parentActivityName=".modules.ModulesActivity" />
        <activity
            android:name=".fight.FightActivity"
            android:parentActivityName=".gate.GateActivity" />
        <activity
            android:name=".modules.ModulesActivity"
            android:parentActivityName=".modules.ModulesListActivity" />

        <service android:name="com.google.firebase.messaging.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".inventory.InventoryActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".MainOptionsActivity" />
        <activity
            android:name=".NewGameActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RegistrationActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainOptionsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".scanresult.ScanResultActivity"
            android:parentActivityName=".MainOptionsActivity" />
        <activity
            android:name=".move.MoveActivity"
            android:parentActivityName=".scanresult.ScanResultActivity" />
        <activity android:name=".gate.GateActivity"
            android:parentActivityName=".scanresult.ScanResultActivity"/>
        <activity
            android:name=".PlanetActivity"
            android:parentActivityName=".MainOptionsActivity" />
        <activity
            android:name=".market.MarketActivity"
            android:label="@string/title_activity_market"
            android:parentActivityName=".PlanetActivity" />
        <activity
            android:name=".sectors.SectorsActivity"
            android:label="@string/title_activity_market"
            android:parentActivityName=".PlanetActivity" />

        <activity android:name=".shipyard.ShipyardActivity"
            android:parentActivityName=".PlanetActivity"
            />
        <activity android:name=".shipyard.ShipyardInfoActivity"
            android:parentActivityName=".shipyard.ShipyardActivity"/>
    </application>

</manifest>